.main-header {
    background-color: $green;
    background-size: cover;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.home .main-header {
    background: url(../images/slider-EATIT1.png) top center;
    background-size: cover;
    min-height: calc(50vh - 90px);
    text-align: center;
}